.selectedPage{
    font-weight: bold;
    font-size: 120%;
}
.pagesSpans span{
    margin: 15px;
}
.pagesSpans span:hover{
    color:white;
    cursor: pointer;
}
    
                
               
                
                    
 
 